/*insert custom css below*/


body {
  
  height:auto;
}

.heading {
 
}

.heading h1 {
   position: fixed;
  top:0px;
  left:0px;
}

.box {
  position: relative;
  top: 10%;
  left: 5%;
  width:400px;
  float: left;
  margin: auto;
}

.box:last-child {
  position: relative;
  left: 80%;
  width: 400px;
  float: left;
}

.box h2 {
}

.box img {
}

.box a.read-more {
}

.footer {
  position:fixed;
  bottom: 0 px;
  left: 0px;
}
