/*insert custom css below*/


body {
}

.heading {
  position: fixed;
  top:0px;
  left:0px;
}

.heading h1 {
}

.box {
}

.box:last-child {
}

.box h2 {
}

.box img {
}

.box a.read-more {
}

.footer {
  position:fixed;
  bottom: 0 px;
  left: 0px;
}
