/*insert custom css below*/


body {
  

}

.heading {  
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  border-bottom:2px solid;
  padding: 0 20px;
 
}

.heading h1 {
 
}

.box {
  width: 32%px;
  float: left;
  margin-right:1.5%px;
}

.box:last-child {
margin-right 0;

}

.box h2 {
}

.box img {
  width: 100%;
}

.box a.read-more {
  display: block;
  margin-top: 5px;
  padding-top: 10px;
  border-top:1px solid ;
}

.footer {
  position:fixed;
  bottom: 0 px;
  left: 0px;
  border-top: 2px solid;
  width: 100%;
  padding: 0 20px;
}
